html {
  box-sizing: border-box;
  font-size: 1rem;
  --sand: rgb(238, 233, 214);
}
* {
  font-family: "Times New Roman", Times, serif;
}
body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(
    275deg,
    rgba(120, 125, 76, 1) 0%,
    rgba(105, 105, 105, 1) 35%,
    rgba(204, 156, 136, 1) 100%
  );
}

header {
  text-align: center;
  background: linear-gradient(
    275deg,
    rgba(120, 125, 76, 1) 0%,
    rgba(105, 105, 105, 1) 35%,
    rgba(204, 156, 136, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-inline: 4rem;
}
h1 {
  font-family: "Aboreto", cursive;
}

header a {
  color: var(--sand);
  text-underline-offset: 5px;
  font-size: 1.3rem;
}

main {
  width: 90vw;
  margin: auto;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgb(238, 233, 214);
}
h2 {
  text-align: center;
  text-decoration: underline;
}
table {
  display: block;
}

thead {
  background-color: #333;
  color: #fff;
}
th {
  padding: 1rem;
  border-radius: 5px;
  text-align: left;
  font-size: 1.2rem;
}
td {
  padding-inline: 0.5rem;
  color: #333;
}
tbody tr td:nth-child(2) {
  width: 100%;
}
table a {
  color: #333;
}
tbody tr:nth-child(2n) {
  background-color: rgb(212, 198, 152);
}
